.social-icons {
    background-color: #013168;
    text-align: right;
}

footer {
    background-color: #013168;
    text-align: center;
    color: #ffffff;
    font-family:'Times New Roman', Times, serif;
}

.nav-link-1 {
    color: #013168;
}
