@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Caveat:wght@700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Caveat:wght@700&family=Gwendolyn:wght@400;700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Caveat:wght@700&family=Gwendolyn:wght@400;700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #013068;
    color: white;
    height: 5vh;
    /* Reducir la altura del primer nav */
    padding: 0 10px;
    /* Reducir el espacio alrededor de los elementos */
}

.navbar-nav {
    height: 10vh;
    /* Reducir la altura del segundo nav */
    padding: 5px 10px;
    /* Reducir el espacio alrededor de los elementos */
}

.formato-text,
.formato-img {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.formato-text li,
.formato-img a {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.formato-text li i,
.formato-img a i {
    font-size: 1.2em;
    /* Tamaño de los iconos */
    margin-right: 5px;
    /* Espacio entre el ícono y el texto */
}

.formato-text li i {
    margin-right: 5px;
    /* Espacio entre el ícono y el texto */
}

.formato-img a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    /* Puedes ajustar el tamaño de los iconos si es necesario */
}

.formato-img a {
    color: white;
    text-decoration: none;
}

.formato-img a:hover {
    color: #7c7575;
}

@media (max-width: 768px) {
    .icons {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .formato-text,
    .formato-img {
        flex-direction: column;
        gap: 5px;
    }
}

.btn-outline-success {
    color: #013068 !important;
    border-color: #013068 !important;
}

.navbar-nav .nav-link:hover {
    color: #013068 !important;
}

.btn-outline-success:hover {
    background-color: #013068 !important;
    border-color: #013068 !important;
    color: white !important;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    font-size: 36px;
    /* Aumentar el tamaño de la fuente de Bekins */
    font-family: 'Arial Black', sans-serif;
    /* Cambiar el tipo de fuente */
    letter-spacing: 10px;
}

.nombreEmpresa {
    color: #013068;
}
.nav-link {
    font-size: 23px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.nav-item .nav-link {
    margin-right: 22px;
    /* Ajusta el valor según sea necesario */
}

.form-control {
    font-family: "Abel", sans-serif;
}

.btn {
    font-family: "Abel", sans-serif;
}

.img {
    background-color: #191f2b;
    height: 80vh;
    /* Ocupa el 70% del ancho de la pantalla */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/portada.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.delante-img {
    font-size: 30px;
    color: #000;
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
    ;
}

.card-img-top {
    height: 450px;
    /* Establece una altura fija para las imágenes */
    width: auto;
    /* Hace que el ancho sea automático para mantener la proporción original */
    object-fit: cover;
    /* Mantiene la proporción de la imagen y la ajusta dentro del contenedor */
}

.card-informativas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Espacio entre las tarjetas */
    gap: 5px;
    /* Espacio entre las tarjetas */
}

.card {
    flex: 1 1 18rem;
    /* Permite que las tarjetas sean flexibles pero tengan un ancho mínimo de 18rem */
    max-width: 18rem;
    /* Asegura que las tarjetas no crezcan más de 18rem */
    margin: 10px 0;
    /* Añade margen superior e inferior */
}

.card:first-child {
    margin-left: 0;
    /* Elimina el margen izquierdo de la primera tarjeta */
}

.card:last-child {
    margin-right: 0;
    /* Elimina el margen derecho de la última tarjeta */
}

.card-text {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 15px;
    text-align: center;

}

/* .info-complementaria {
    background-color: #191f2b;
    color: #fff;
} */
.info-complementaria {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio equitativamente entre las columnas */
    padding: 20px 40px; /* Espacio en la parte superior/inferior y derecha/izquierda */
    background-color: #191f2b; /* Color de fondo */
    color: white; /* Color del texto */
    gap: 20px; /* Espacio entre las columnas */
    font-family: "Abel", sans-serif;
  }
  
  .info-complementaria ul {
    list-style-type: none; /* Elimina las viñetas de las listas */
    padding: 0; /* Elimina el padding predeterminado */
  }
  
  .info-complementaria h5 {
    margin-bottom: 15px; /* Espacio debajo del título */
  }
  
  .info-complementaria a{
    display: block; /* Hace que los enlaces y elementos de lista se comporten como bloques */
    margin-bottom: 8px; /* Espacio debajo de cada elemento */
    text-decoration: none; /* Elimina las subrayas de los enlaces */
    color: #fff;
  }
  
  .info-complementaria a:hover, .info-complementaria li:hover {
    text-decoration: underline; /* Subraya los enlaces y elementos de lista al pasar el cursor */
    color: #7c7575;
  }

.final {
    min-height: 5vh;
    background-color: #013068;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-final {
    font-size: 14px;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    /* Eliminar cualquier margen para asegurar centrado perfecto */
}
